<div class="container shoulder">
    <div class="row">
      <div style="text-align: center">
        <h3>Shoulder Prescription</h3>
      </div>
    </div>
    <div class="row">
      <table class="table table-bordered pat-info">
        <tbody>
          <tr>
            <td>Pateint Name</td>
            <td><input type="text"></td>
            <td>Age/DOB</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Sex</td>
            <td><input type="text"></td>
            <td>Date</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Address</td>
            <td colspan="3"><input type="text"></td>
          </tr>
          <tr>
            <td>Patient#</td>
            <td><input type="text"></td>
            <td>Referred By</td>
            <td><input type="text"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row"><span class="title-head">Complaints:</span></div>
    <div class="row">
      <textarea style="width: 100%" rows="4" col="50"></textarea>
    </div>
    <div class="row"></div>
    <div class="row"><span class="title-head">On Examination Shoulder:</span></div>
    <div class="row">
      <table class="table table-bordered exam-info">
        <thead>
          <tr>
            <th>Daignosis Test Parameter</th>
            <th>Neck ROM</th>
            <th>Shoulder ROM</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AB</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>ER</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
              <td>IR</td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="row"><span class="title-head">Empty can Test: </span><input type="text"></div>
    <div class="row">
        <table class="table table-bordered power-info">
          <tbody>
            <tr>
              <td><span class="title-head">Power SSP:</span></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><span class="title-head">ISP:</span></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><span class="title-head">SSC:</span></td>
              <td><input type="text"></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="row"><span class="title-head">Provisional Daignosis:</span></div>
    <div class="row">
      <textarea style="width: 100%" rows="4" col="50"></textarea>
    </div>
    <div class="row"><span class="title-head">Advice:</span></div>
    <div class="row">
      <textarea style="width: 100%" rows="4" col="50"></textarea>
    </div>
    <div class="row">
        <table class="table table-responsive">
          <tbody>
            <tr>
              <td><span class="title-head">Mobile: 1234567890</span></td>
              <td><span class="title-head">Email:abc@gmail.com</span></td>
              <td><span class="title-head">Address: Bangalore</span></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>